 
 	      <div id="login">
 	        <div id="logintxtblank">
 	          <div id="loginheading">
 	            <h4>User Login</h4>
 	          </div>
 	          <div id="username">User Name:</div>
			  <%=form_tag log_in_path do%>
 	          <div id="input">
				<%=text_field_tag :email %>	
 	          </div>
 	          <div id="password">Password:</div>
 	          <div id="input02">
				<%=password_field_tag :password %>	
 	          </div>
 			  <%#=form_tag log_in_path do%>
 	           <div id="loginbutton"><%=submit_tag "Login" %></div>
 			  <% end %>
 	        </div>
 			<div id="notice"><%= flash[:notice] %></div>
 	      </div>
 