
      <div id="contentmid">
        <div class="midheading">
          <h2>Comment Message</h2>
        </div>
		
		<%= form_for(@order) do |f| %>
		  <% if @order.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

		      <ul>
		      <% @order.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>


		  <div class="field">
		    <font face="Arial"><%= f.label :Comment %></font><br>
		    <font face="Arial"><%= f.text_area :dcomments %></font>
		  </div>

		  <div class="actions">
		    <%= f.submit %>
		  </div>
		<% end %>
		<br />
		<table>
			<tr>
			 <td><font face="Arial">Return</font></td>	
			 <td><%= link_to image_tag("backward_icon.png"), orders_path %></td>
			</tr>
		</table>
