<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :Comment %><br>
    <%= f.text_area :decliner_comments %> <!--text_area_tag :message_body,  @message_body, :size =>"25x10"-->
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
