      <div id="contentmid">
        <div class="midheading">
          <h2>Approved Orders</h2>
        </div>
		<table style="width:1000px; height:auto;">
		  <thead style="width:1000px; height:20%;">
		    <tr style="height:auto !important; font-size:12px; line-height:17px;" >
			  <th style="margin:2px; width:auto;" cellspacing="2" bgcolor="#000000"><font face="Arial" color="#FFFFFF">PO</font></th>	
		      <th style="margin:2px; width:auto;" cellspacing="2" bgcolor="#000000"><font face="Arial" color="#FFFFFF">DUE</font></th>
			  <th style="margin:2px; width:15%;" cellspacing="2" bgcolor="#000000"><font face="Arial" color="#FFFFFF">EXPECTED</font></th>
		      <th style="margin:2px; width:auto;" cellspacing="2" bgcolor="#000000"><font face="Arial" color="#FFFFFF">TOTAL</font></th>
			  <th style="margin:2px; width:auto;" cellspacing="2" bgcolor="#000000"><font face="Arial" color="#FFFFFF">BUYER</font></th>
			  <th style="margin:2px; width:auto;" cellspacing="2" bgcolor="#000000"><font face="Arial" color="#FFFFFF">APPROVED DATE</font></th>
			  <th style="margin:2px; width:auto;" cellspacing="2" bgcolor="#000000"><font face="Arial" color="#FFFFFF">APPROVED BY</font></th>
		    </tr>
		  </thead>

		  <tbody style="width:1000px; height:80%;">
           <% @orders.each do |order| %>
            <tr style="font:Arial; font-size:9px" class="<%= cycle("even", "odd") %>">
            <td><font face="Arial"><%= order.ref_number %></font></td>
            <td><font face="Arial"><%= order.date_due %></font></td>
            <td><font face="Arial"><%= order.expected_date %></font></td>
            <td><font face="Arial"><%= number_to_currency(order.total_amount) if !order.total_amount.nil? %></font></td>
            <td><font face="Arial"><%= order.custom_field_authorized_buyer %></font></td>
		    <td><font face="Arial"><%= order.approve_date %></font></td>
		    <td><font face="Arial"><%= order.approve_by %></font></td>
		<td><font face="Arial"><%= link_to 'Read  ', details_orders_path(:id => order) if !order.acomments.nil? %><%= link_to '  Receive', edit_order_path(order),:confirm => 'Are you sure?' if order.custom_field_authorized_buyer == @current_user.buyer %></font></td>
      </tr>
    <% end %>
		  </tbody>
		</table>


    <table>
	  <tr style="font-size:12px" >
	   <td><font face="Arial">Return</font></td>	
	   <td><%= link_to image_tag("backward_icon.png"), orders_path %></td>
	  </tr>
	</table>
 
