<h1>Approved Orders</h1>

<table>
  <thead>
    <tr>
      <th bgcolor="#A9F5F2"><%= link_to "Ref number", :sort =>  "ref_number" %></th>
      <th bgcolor="#A9F5F2"><%= link_to "Due Date", :sort =>  "date_due" %></th>
      <th bgcolor="#A9F5F2"><%= link_to "Expected Date", :sort =>  "expected_date" %></th>
      <th bgcolor="#A9F5F2"><%= link_to "Total Amount", :sort =>  "total_amount" %></th>
      <th bgcolor="#A9F5F2"><%= link_to "Buyer", :sort =>  "custom_field_authorized_buyer" %></th>
      <th bgcolor="#A9F5F2"><%= link_to "Approved Date", :sort =>  "approve_date" %></th>
      <th bgcolor="#A9F5F2"><%= link_to "Approved By", :sort =>  "approve_by" %></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr class="<%= cycle("even", "odd") %>">
        <td><%= order.ref_number %></td>
        <td><%= order.date_due %></td>
        <td><%= order.expected_date %></td>
        <td><%= order.total_amount %></td>
        <td><%= order.custom_field_authorized_buyer %></td>
		<td><%= order.approve_date %></td>
		<td><%= order.approve_by %></td>
		<td><%= link_to 'Received', edit_order_path(order),:confirm => 'Are you sure?' if order.custom_field_authorized_buyer == @current_user.buyer %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Back', orders_path %>