<h1>Decline orders</h1>
	
<table>
  <thead>
    <tr>
      <th bgcolor="#A9F5F2"><%= link_to "Ref number", :sort =>  "ref_number" %></th>
      <th bgcolor="#A9F5F2"><%= link_to "Due Date", :sort =>  "date_due" %></th>
      <th bgcolor="#A9F5F2"><%= link_to "Expected Date", :sort =>  "expected_date" %></th>
      <th bgcolor="#A9F5F2"><%= link_to "Total Amount", :sort =>  "total_amount" %></th>
      <th bgcolor="#A9F5F2"><%= link_to "Buyer", :sort =>  "custom_field_authorized_buyer" %></th>
      <th bgcolor="#A9F5F2"><%= link_to "Decline Date", :sort =>  "decline_date" %></th>
      <th bgcolor="#A9F5F2"><%= link_to "Declined By", :sort =>  "decline_by" %></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr class="<%= cycle("even", "odd") %>">
        <td><%= order.ref_number %></td>
        <td><%= order.date_due %></td>
        <td><%= order.expected_date %></td>
        <td><%= order.total_amount %></td>
        <td><%= order.custom_field_authorized_buyer %></td>
		<td><%= order.decline_date %></td>
		<td><%= order.decline_by %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<table>
	<tr>
	 <td> Return</td>	
	 <td><%= link_to image_tag("backward_icon.png"), orders_path %></td>
	</tr>
</table>	