<h1>Decline orders</h1>
	
<table>
  <thead>
    <tr>
      <th>Ref number</th>
      <th>Duedate</th>
      <th>Expected</th>
      <th>Total amount</th>
      <th>Closed</th>
      <th>Received</th>
      <th>Buyer</th>
      <th>Decline Date</th>
      <th>Declined By</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr class="<%= cycle("even", "odd") %>">
        <td><%= order.ref_number %></td>
        <td><%= order.duedate %></td>
        <td><%= order.expected_drive %></td>
        <td><%= order.total_amount %></td>
        <td><%= order.is_manually_closed %></td>
        <td><%= order.is_fully_received %></td>
        <td><%= order.custom_field_authorized_buyer %></td>
		<td><%= order.decline_date %></td>
		<td><%= order.decline_by %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

