
      <div id="contentmid">
        <div class="midheading">
          <h2>Purchase Orders</h2>
        </div>
		<br />
		<table>
		    <tr style="height:auto !important; font-size:12px; line-height:17px;" >
			  <td><b>Vendor :</b></td>
			  <td> <%= @str_get_ref_id.vendor_name %></td>
			 </tr> 
 		    <tr style="font-size:12px" >
 			  <td><b>Address :</b></td>
 			  <td> <%= @str_get_ref_id.address %></td>
 			 </tr>
  		    <tr style="font-size:12px" >
  			  <td><b>City :</b></td>
  			  <td> <%= @str_get_ref_id.city %></td>
  			 </tr>
   		    <tr style="font-size:12px" >
   			  <td><b>Phone :</b></td>
   			  <td></td>
   			 </tr>
    		    <tr style="font-size:12px" >
    			  <td><b>Contact :</b></td>
    			  <td></td>
    			 </tr>
		</table>
        <br />
		<table>
		    <tr style="height:auto !important; font-size:12px; line-height:17px;" >
			  <td><b>Payment Terms :</b></td>
			  <td> <%= @str_get_ref_id.terms %></td>
			  <td><b>Date Required :</b></td>
			  <td> <%= @str_get_ref_id.date_due %></td>
			  <td><b>Date Promised :</b></td>
			  <td> <%= @str_get_ref_id.expected_date %></td>
			 </tr>
 		    <tr style="font-size:12px" >
 			  <td><b>Status :</b></td>
 			  <td> <%= @str_get_ref_id.po_status  %></td>
 			  <td><b>PO Number:</b></td>
 			  <td> <%= @str_get_ref_id.ref_number %></td>
 			  <td><b>Approved :</b></td>
 			  <td> <%= @str_get_ref_id.track %></td>
 			 </tr>
		</table>
		

		<table>
		    <tr style="height:auto !important; font-size:12px; line-height:17px;" >
			  <th>Buyer</th>
			 </tr> 
			 <tbody>
				 <tr style="font-size:12px" >
				 <td colspan = "4"><%= @str_get_ref_id.custom_field_authorized_buyer %></td>
			     </tr>
			 </tbody>	 
		</table>
		
		<br />
		<table>
		    <tr style="height:auto !important; font-size:12px; line-height:17px;" >
			  <th style="margin:2px; width:auto;" cellspacing="2" bgcolor="#000000"><font color="#FFFFFF">MEMO</font></th>
		 	  <th style="margin:2px; width:auto;" cellspacing="2" bgcolor="#000000"><font color="#FFFFFF">VENDOR MSG</font></th>
			  <th style="margin:2px; width:auto;" cellspacing="2" bgcolor="#000000"><font color="#FFFFFF">DECLINE REASON</font></th>
		 	 </tr>
			 <tbody style="width:1000px; height:80%;">
				 <tr style="font:Arial; font-size:9px" >
				 <td><%= text_area_tag :message_memo,@str_get_ref_id.memo, :size =>"25x10" %></td>
		 		 <td><%= text_area_tag :message_memo,@str_get_ref_id.user_comments, :size =>"25x10" %></td>
				 <td><%= text_area_tag :message_body,@str_get_ref_id.decliner_comments, :size =>"25x10" %></td>
			     </tr>
		 	 </tbody>
		</table>
		<br />
		
		<table style="width:1000px; height:auto;">
		  <thead style="width:1000px; height:20%;">
		    <tr style="height:auto !important; font-size:12px; line-height:17px;" >
		      <th style="margin:2px; width:auto;" cellspacing="2" bgcolor="#000000"><font face="Arial" color="#FFFFFF">ITEM</font></th>
			  <th style="margin:2px; width:15%;" cellspacing="2" bgcolor="#000000"><font face="Arial" color="#FFFFFF">MPN</font></th>
		      <th style="margin:2px; width:auto;" cellspacing="2" bgcolor="#000000"><font face="Arial" color="#FFFFFF">WC</font></th>
			  <th style="margin:2px; width:auto;" cellspacing="2" bgcolor="#000000"><font face="Arial" color="#FFFFFF">DESCRIPTION</font></th>
			  <th style="margin:2px; width:auto;" cellspacing="2" bgcolor="#000000"><font face="Arial" color="#FFFFFF">PROJECTID</font></th>
			  <th style="margin:2px; width:auto;" cellspacing="2" bgcolor="#000000"><font face="Arial" color="#FFFFFF">PRODUCT</font></th>
			  <th style="margin:2px; width:auto;" cellspacing="2" bgcolor="#000000"><font face="Arial" color="#FFFFFF">CLASS</font></th>
			  <th style="margin:2px; width:auto;" cellspacing="2" bgcolor="#000000"><font face="Arial" color="#FFFFFF">QTY</font></th>
			  <th style="margin:2px; width:auto;" cellspacing="0" bgcolor="#000000"><font face="Arial" color="#FFFFFF">LEAD TIME</font></th>
			  <th style="margin:2px; width:auto;" cellspacing="0" bgcolor="#000000"><font face="Arial" color="#FFFFFF">AMOUNT</font></th>
		    </tr>
		  </thead>
		

  <tbody style="width:1000px; height:80%;">
    <% @orderln.each do |order| %>
      <tr style="font:Arial; font-size:9px" class="<%= cycle("even", "odd") %>">
	    <td><%= order.item %></td> 	  
		<td><%= order.mpn %></td> 
		<td><%= order.wc %></td> 
		<td><%= order.ord_line_desc %></td>
		<td><%= order.project_id %></td>
		<td><%= order.product %></td>
		<td><%= order.classz %></td>
		<td><%= order.ord_line_qty %></td>
		<td><%= order.lead_time %></td>  
		<td>$<%= order.ord_line_amount %></td>
      </tr>
    <% end %>
  </tbody>
		</table>
		<br />
		<table>
			<tr style="font-size:12px" >
			 <%if @current_user.amount.to_f > 0 %>	
			 <td> Approve</td>	
			 <td><%= link_to image_tag("approved_icon.png"), edit_order_path(params[:id]) %></td>

			 <td> Decline</td>	
			 <td><%= link_to image_tag("dissapproved_icon.png"), decline_orders_path(:id => params[:id]) %> </td>
		     <% end %>
			 <%if @current_user.amount.to_f == 0 %>	
			  <td> Recommit</td>	
			  <td><%= link_to image_tag("dissapproved_icon.png"), undecline_orders_path(:id => params[:id]) %> </td>
			 <% end %>
			 <td> Return</td>	
			 <td><%= link_to image_tag("backward_icon.png"), orders_path %></td>
			</tr>
		</table>
