<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>WetDesign</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<%= stylesheet_link_tag    "casting", media: "all", "data-turbolinks-track" => true %>
<link rel="icon" href="images/icon.ico" />
</head>
<body>
<div id="headerbg">
  <div id="headerblank">
    <div id="header">
      <div id="menu">
      </div>
      </div>
    </div>
  </div>
</div>
<div id="contentbg">
  <div id="contentblank">
    <div id="content">
      <div id="contentleft">
        <div id="leftheading">
          <h4>Menu</h4>
        </div>
        <div class="lefttxtblank">
          <div class="lefticon">16</div>
          <div class="leftboldtxtblank">
            <div class="leftboldtxt"><%= link_to 'Logout', log_out_path %></div>
            <div class="lefttxt">Wednesday August 6 2014</div>
          </div>
          <div class="leftnormaltxt">Logs you completely out of application</div>
        </div>
        <div class="lefttxtblank02">
          <div class="lefticon">16</div>
          <div class="leftboldtxtblank">
            <div class="leftboldtxt"><%= link_to 'Approved', approved_orders_path %></div>
            <div class="lefttxt">Wednesday August 6 2014</div>
          </div>
          <div class="leftnormaltxt">View Approved Item and Receive Items</div>
        </div>
        <div class="lefttxtblank02">
          <div class="lefticon">16</div>
          <div class="leftboldtxtblank">
            <div class="leftboldtxt"><%= link_to 'Received', received_orders_path %></div>
            <div class="lefttxt">Wednesday August 6 2014</div>
          </div>
          <div class="leftnormaltxt">View Items that have been received</div>
        </div>
        <div class="lefttxtblank02">
          <div class="lefticon">16</div>
          <div class="leftboldtxtblank">
            <div class="leftboldtxt"><%= link_to 'Declined', decline_rpt_orders_path %></div>
            <div class="lefttxt">Wednesday August 6 2014</div>
          </div>
          <div class="leftnormaltxt">View Items that have been declined</div>
        </div>
        <div class="lefttxtblank02">
          <div class="lefticon">16</div>
          <div class="leftboldtxtblank">
            <div class="leftboldtxt"><%= link_to 'Buyers', buyers_path %></div>
            <div class="lefttxt">Wednesday August 6 2014</div>
          </div>
          <div class="leftnormaltxt">Edit Buyer's phone numbers</div>
        </div>
        <div id="leftnav">
        </div>
      </div>
      <div id="contentmid">
        <div class="midheading">
          <h2>Purchase Orders</h2>
        </div>
		<br />
		<table>
		    <tr>
			  <th>Vendor</th>
			 </tr> 
			 <tbody>
				 <td colspan = "4"><%= @str_get_ref_id.vendor_name %></td>
			 </tbody>	 
		</table>
	
		<table>
		    <tr>
			  <th>Address</th>
			  <th>City</th>
			  <th>Phone</th>
			  <th>Contact</th>
			 </tr> 
			 <tbody>
				 <td><%= @str_get_ref_id.address %></td>
				 <td><%= @str_get_ref_id.city %></td>
				 <td></td>
				 <td></td>
			 </tbody>	 
		</table>

		<table>
		    <tr>
			  <th>Payment Terms</th>
			  <th>Date Required</th>
			  <th>Date Promised</th>
			 </tr> 
			 <tbody>
				 <td><%= @str_get_ref_id.terms %></td>
				 <td><%= @str_get_ref_id.date_due %></td>
				 <td><%= @str_get_ref_id.expected_date %></td>
			 </tbody>	 
		</table>
		
		<table>
		    <tr>
			  <th>Status</th>
			  <th>Approved</th>
			 </tr> 
			 <tbody>
				 <td><%= @str_get_ref_id.po_status %></td>
				 <td><center><%= @str_get_ref_id.track %></center></td>
			 </tbody>	 
		</table>		

		<table>
		    <tr>
			  <th>Buyer</th>
			 </tr> 
			 <tbody>
				 <td colspan = "4"><%= @str_get_ref_id.custom_field_authorized_buyer %></td>
			 </tbody>	 
		</table>
		
		<br />
		<table>
		    <tr>
			  <th bgcolor="#E8FFE8">Memo</th>
		 	  <th bgcolor="#E8FFE8">Vendor Msg</th>
			  <th bgcolor="#E8FFE8">Decline Reason</th>
		 	 </tr>
			 <tbody>
				 <td><%= text_area_tag :message_memo,@str_get_ref_id.memo, :size =>"25x10" %></td>
		 		 <td><%= text_area_tag :message_memo,@str_get_ref_id.user_comments, :size =>"25x10" %></td>
				 <td><%= text_area_tag :message_body,@str_get_ref_id.decliner_comments, :size =>"25x10" %></td>
		 	 </tbody>
		<table>
			<br />
		<table>
			<tr>
				<%#= form_tag import_orders_path, multipart: true do %>
				<%#= file_field_tag :file %>
			   <p> <%#= text_field_tag "subject" %></p>
			   <%#= submit_tag "Import CSV" %>
			 <%# end %>	
	 
			</tr>
		</table>	
		
		<table>
		  <thead>
		    <tr>
			  <th bgcolor="#FFE87C">Item</th>	
			  <th bgcolor="#FFE87C">MPN</th>
			  <th bgcolor="#FFE87C">WC</th>
			  <th bgcolor="#FFE87C">Description</th>
			  <th bgcolor="#FFE87C">ProjectID</th>
			  <th bgcolor="#FFE87C">Product</th>
			  <th bgcolor="#FFE87C">Class</th>
			  <th bgcolor="#FFE87C">Qty</th>
			  <th bgcolor="#FFE87C">Lead</th>
			  <th bgcolor="#FFE87C">Amt</th>
		      <th></th>
		    </tr>
		  </thead>

  <tbody>
    <% @orderln.each do |order| %>
      <tr class="<%= cycle("even", "odd") %>">
	    <td><%= order.item %></td> 	  
		<td><%= order.mpn %></td> 
		<td><%= order.wc %></td> 
		<td><%= order.ord_line_desc %></td>
		<td><%= order.project_id %></td>
		<td><%= order.product %></td>
		<td><%= order.classz %></td>
		<td><%= order.ord_line_qty %></td>
		<td><%= order.lead_time %></td>  
		<td><%= order.ord_line_amount %></td>
      </tr>
    <% end %>
  </tbody>
		</table>
		<br />
		<table>
			<tr>
			 <%if @current_user.amount.to_f > 0 %>	
			 <td> Approve</td>	
			 <td><%= link_to image_tag("approved_icon.png"), edit_order_path(params[:id]) %></td>

			 <td> Decline</td>	
			 <td><%= link_to image_tag("dissapproved_icon.png"), decline_orders_path(:id => params[:id]) %> </td>
		     <% end %>
			 <%if @current_user.amount.to_f == 0 %>	
			  <td> Un-Decline</td>	
			  <td><%= link_to image_tag("dissapproved_icon.png"), undecline_orders_path(:id => params[:id]) %> </td>
			 <% end %>
			 <td> Back</td>	
			 <td><%= link_to image_tag("backward_icon.png"), orders_path %></td>
			</tr>
		</table>
      <div id="contentright">
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
