<h1>Purchase Order Detail Lines</h1>
<table border = 1>
	<tr>
	  <td>Vendor : </td>	
	  <td><%= @str_get_ref_id.vendor_name %></td>
	  <td>Payment Terms : </td>
	  <td></td>
	</tr>	
	
	<tr>
	  <td>Address : </td>	
	  <td></td>
	  <td>Date Submitted : </td>
	  <td></td>
	</tr>
	
	<tr>
	  <td>City : </td>	
	  <td></td>
	  <td>Date Required : </td>
	  <td></td>
	</tr>
	
	<tr>
	  <td>Phone : </td>	
	  <td></td>
	  <td>Date Promised : </td>
	  <td></td>
	</tr>
	
	<tr>
	  <td>Contact : </td>	
	  <td></td>
	  <td>Buyer : </td>
	  <td><%= @str_get_ref_id.custom_field_authorized_buyer %></td>
	</tr>
</table>

<br />
	 
<table>
  <thead>
    <tr>
	  <th bgcolor="#A9F5F2">Customer</th>	
      <th bgcolor="#A9F5F2">Description</th>
	  <th bgcolor="#A9F5F2">Lead Time</th>
	  <th bgcolor="#A9F5F2">Product</th>
	  <th bgcolor="#A9F5F2">Assembles</th>
      <th bgcolor="#A9F5F2">Order Qty</th>
      <th bgcolor="#A9F5F2">Line amount</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orderln.each do |order| %>
      <tr class="<%= cycle("even", "odd") %>">
		<td><%= order.customer_name %></td>  
        <td><%= order.ord_line_desc %></td>
		<td><%= order.lead_time %></td>
		<td><%= order.product %></td>
		<td><%= order.project_id %></td>
        <td><%= order.ord_line_qty %></td>
        <td><%= order.ord_line_amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to image_tag("approved_icon.png"), orders_path %>  <%= link_to image_tag("dissapproved_icon.png"), orders_path %>   <%= link_to image_tag("backward_icon.png"), orders_path %>
