<h1>Purchase Order Detail Lines</h1>
<table  border = 0, cellpadding = "10">
	<tr>
	  <td><font color= #6495ED>Vendor</font> : </td>	
	  <td colspan = "4"><%= @str_get_ref_id.vendor_name %></td>
	  <td></td>
	  
	  <td><font color= #6495ED>Payment Terms</font> : </td>
	  <td colspan = "4"></td>	  
	</tr>	
	
	<tr>
	  <td><font color= #6495ED>Address</font> : </td>	
	  <td colspan = "4"></td>
	  <td></td>
	  
	  <td><font color= #6495ED>Date Submitted</font> : </td>
	  <td colspan = "4"></td>
	</tr>
	
	<tr>
	  <td><font color= #6495ED>City</font> : </td>	
	  <td colspan = "4"></td>
	  <td></td>
	  
	  <td><font color= #6495ED>Date Required</font> : </td>
	  <td colspan = "4"></td>	  
	</tr>
	
	<tr>
	  <td><font color= #6495ED>Phone</font> : </td>	
	  <td colspan = "4"></td>
	  <td></td>
	  
	  <td><font color= #6495ED>Date Promised</font> : </td>
	  <td colspan = "4"></td>	  
	</tr>
	
	<tr>
	  <td><font color= #6495ED>Contact</font> : </td>	
	  <td colspan = "4"></td>
	  <td></td>
	  <td><font color= #6495ED>Buyer</font> : </td>
	  <td colspan = "4"><%= @str_get_ref_id.custom_field_authorized_buyer %></td>
	</tr>
</table>

<br />
	 
<table>
  <thead>
    <tr>
	  <th bgcolor="#A9F5F2">Customer</th>	
      <th bgcolor="#A9F5F2">Description</th>
	  <th bgcolor="#A9F5F2">Lead Time</th>
	  <th bgcolor="#A9F5F2">Product</th>
	  <th bgcolor="#A9F5F2">Assemblies</th>
      <th bgcolor="#A9F5F2">Order Qty</th>
      <th bgcolor="#A9F5F2">Line amount</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orderln.each do |order| %>
      <tr class="<%= cycle("even", "odd") %>">
		<td><%= order.customer_name %></td>  
        <td><%= order.ord_line_desc %></td>
		<td><%= order.lead_time %></td>
		<td><%= order.product %></td>
		<td><%= order.project_id %></td>
        <td><%= order.ord_line_qty %></td>
        <td><%= order.ord_line_amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to image_tag("approved_icon.png"), edit_order_path(params[:id]) %>  <%= link_to image_tag("dissapproved_icon.png"), decline_orders_path(:id => params[:id]) %>   <%= link_to image_tag("backward_icon.png"), orders_path %>
