
      <div id="contentmid">
        <div class="midheading">
          <h2>Purchase Orders</h2>
        </div>
		
		<br />
		<table>
		    <tr style="height:auto !important; font-size:12px; line-height:17px;" >
			  <td><b><font face="Arial">Vendor :</font></b></td>
			  <td><font face="Arial"> <%= @str_get_ref_id.vendor_name %></font></td>
			 </tr> 
 		    <tr style="font-size:12px" >
 			  <td><b><font face="Arial">Address :</font></b></td>
 			  <td><font face="Arial"> <%= @str_get_ref_id.address %></font></td>
 			 </tr>
  		    <tr style="font-size:12px" >
  			  <td><b><font face="Arial">City :</font></b></td>
  			  <td><font face="Arial"> <%= @str_get_ref_id.city %></font></td>
  			 </tr>
   		    <tr style="font-size:12px" >
   			  <td><b><font face="Arial">Phone :</font></b></td>
   			  <td></td>
   			 </tr>
    		    <tr style="font-size:12px" >
    			  <td><b><font face="Arial">Contact :</font></b></td>
    			  <td></td>
    			 </tr>
		</table>
		
        <br />
		
		<table>
		    <tr style="height:auto !important; font-size:12px; line-height:17px;" >
			  <td><b><font face="Arial">Payment Terms :</font></b></td>
			  <td><font face="Arial"> <%= @str_get_ref_id.terms %></font></td>
			  <td><b><font face="Arial">Date Required :</font></b>
			  <font face="Arial"><%= @str_get_ref_id.date_due %></font></td>
			 </tr>
			 <tr style="height:auto !important; font-size:12px; line-height:17px;"> 
			  <td><b><font face="Arial">Date Promised :</font></b></td>
			  <td><font face="Arial"> <%= @str_get_ref_id.expected_date %></font></td>
			 </tr>
 		    <tr style="font-size:12px" >
 			  <td><b><font face="Arial">Status :</font></b></td>
 			  <td><font face="Arial"> <%= @str_get_ref_id.po_status  %></font></td>
 			  <td><b><font face="Arial">PO Number:</font></b></td>
 			  <td><font face="Arial"><%= @str_get_ref_id.ref_number %></font></td>
			 </tr>
			 <tr style="font-size:12px"> 
 			  <td><b><font face="Arial">Approved :</font></b></td>
 			  <td><font face="Arial"> <%= @str_get_ref_id.track %></font></td>
 			 </tr>
		</table>
		

		<table>
		    <tr style="height:auto !important; font-size:12px; line-height:17px;" >
			  <th><font face="Arial">Buyer</font></th>
			 </tr> 
			 <tbody>
				 <tr style="font-size:12px" >
				 <td colspan = "4"><font face="Arial"><%= @str_get_ref_id.custom_field_authorized_buyer %></font></td>
			     </tr>
			 </tbody>	 
		</table>
		
		<br />
		<table>
		    <tr style="height:auto !important; font-size:12px; line-height:17px;" >
			  <th style="margin:2px; width:auto;" cellspacing="2" bgcolor="#000000"><font color="#FFFFFF"><font face="Arial">MEMO</font></font></th>
		 	  <th style="margin:2px; width:auto;" cellspacing="2" bgcolor="#000000"><font color="#FFFFFF"><font face="Arial">VENDOR MSG</font></font></th>
			  <th style="margin:2px; width:auto;" cellspacing="2" bgcolor="#000000"><font color="#FFFFFF"><font face="Arial">DECLINE REASON</font></font></th>
			  <th style="margin:2px; width:auto;" cellspacing="2" bgcolor="#000000"><font color="#FFFFFF"><font face="Arial">APPROVER COMMENTS</font></font></th>
		 	 </tr>
			 <tbody style="width:1000px; height:80%;">
				 <tr style="font:Arial; font-size:9px" >
				 <td><font face="Arial"><%= text_area_tag :message_memo,@str_get_ref_id.memot, :size =>"25x10" %></font></td>
		 		 <td><font face="Arial"><%= text_area_tag :message_memo,@str_get_ref_id.ucommentst, :size =>"25x10" %></font></td>
				 <td><font face="Arial"><%= text_area_tag :message_body,@str_get_ref_id.dcomments, :size =>"25x10" %></font></td>
				 <td><font face="Arial"><%= text_area_tag :message_body,@str_get_ref_id.acomments, :size =>"25x10" %></font></td>
			     </tr>
		 	 </tbody>
		</table>
		<br />
		
		<table style="width:1000px; height:auto;">
		  <thead style="width:1000px; height:20%;">
		    <tr style="height:auto !important; font-size:12px; line-height:17px;" >
		      <th style="margin:2px; width:auto;" cellspacing="2" bgcolor="#000000"><font face="Arial" color="#FFFFFF">ITEM</font></th>
			  <th style="margin:2px; width:15%;" cellspacing="2" bgcolor="#000000"><font face="Arial" color="#FFFFFF">MPN</font></th>
		      <th style="margin:2px; width:auto;" cellspacing="2" bgcolor="#000000"><font face="Arial" color="#FFFFFF">WC</font></th>
			  <th style="margin:2px; width:auto;" cellspacing="2" bgcolor="#000000"><font face="Arial" color="#FFFFFF">DESCRIPTION</font></th>
			  <th style="margin:2px; width:auto;" cellspacing="2" bgcolor="#000000"><font face="Arial" color="#FFFFFF">PROJECTID</font></th>
			  <th style="margin:2px; width:auto;" cellspacing="2" bgcolor="#000000"><font face="Arial" color="#FFFFFF">PRODUCT</font></th>
			  <th style="margin:2px; width:auto;" cellspacing="2" bgcolor="#000000"><font face="Arial" color="#FFFFFF">CLASS</font></th>
			  <th style="margin:2px; width:auto;" cellspacing="2" bgcolor="#000000"><font face="Arial" color="#FFFFFF">QTY</font></th>
			  <th style="margin:2px; width:auto;" cellspacing="2" bgcolor="#000000"><font face="Arial" color="#FFFFFF">U/M</font></th>
			   <th style="margin:2px; width:auto;" cellspacing="2" bgcolor="#000000"><font face="Arial" color="#FFFFFF">COST</font></th>
			  <th style="margin:2px; width:auto;" cellspacing="0" bgcolor="#000000"><font face="Arial" color="#FFFFFF">LEAD</font></th>
			  <th style="margin:2px; width:auto;" cellspacing="0" bgcolor="#000000"><font face="Arial" color="#FFFFFF">DEVICE</font></th>
			  <th style="margin:2px; width:auto;" cellspacing="0" bgcolor="#000000"><font face="Arial" color="#FFFFFF">AMOUNT</font></th>
		    </tr>
		  </thead>
		
 
  <tbody style="width:1000px; height:80%;">
    <% @orderln.each do |order| %>
      <tr style="font:Arial; font-size:9px" class="<%= cycle("even", "odd") %>">
	    <td><font face="Arial"><%= order.item %></font></td> 	  
		<td><font face="Arial"><%= order.mpn %></font></td> 
		<td><font face="Arial"><%= order.wc %></font></td> 
		<!--#refactor this: -->
		<% if !order.ord_line_desc.nil? %>
		 <% order.desctext = order.ord_line_desc%>
		<% end %>
		<td><font face="Arial"><%= order.desctext  %></font></td>
		<td><font face="Arial"><%= order.project_id %></font></td>
		<td><font face="Arial"><%= order.product %></font></td>
		<td><font face="Arial"><%= order.classz %></font></td>
		<td><font face="Arial"><%= order.ord_line_qty %></font></td>
		<td><font face="Arial"><%= order.unitm %></font></td>
		<td><font face="Arial"><%= number_to_currency(order.unit_cost) if !order.unit_cost.nil? %></font></td>
		<td><font face="Arial"><%= order.lead_time %></font></td>  
		<td><font face="Arial"><%= order.device %></font></td> 
		<td><font face="Arial"><%= number_to_currency(order.ord_line_amount) if !order.ord_line_amount.nil? %></font></td>
      </tr>
    <% end %>
	


  </tbody>
		</table>
		<br />
		
		<table>
			<tr style="font:Arial; font-size:9px">
	     <% if @current_user.first_check.to_i == 1 %>
	      <%= form_for(@str_get_ref_id, :multipart => true) do |f| %>
	        <td><%= f.label :Approved_Comment %> <%= f.text_area :acomments  %></td>
	        <td><%= f.label :Decline_Comment %>  <%= f.text_area :dcomments  %></td>
	        <td><%= f.submit %></td>
		    <td><font face="Arial"> Return</font></td>	
		    <td><%= link_to image_tag("backward_icon.png"), orders_path %></td>
	      <% end %>
	     <% end %> 
		  </tr>
        </table>
		
	    <br />
		<% if @current_user.first_check.to_i != 1 %>
		<table>
			<tr style="font-size:12px" >
			 <%if @current_user.amount.to_f > 0 && @str_get_ref_id.track.to_i < 2  && @str_get_ref_id.decline.to_i <= 0 %>	
			 <td> <font face="Arial">Approve</font></td>	
			 <td><%= link_to image_tag("approved_icon.png"), edit_order_path(params[:id]) %></td>

			 <td><font face="Arial"> Decline</font></td>	
			 <td><%= link_to image_tag("dissapproved_icon.png"), decline_orders_path(:id => params[:id]) %> </td>
		     <% end %>
			 <%if @current_user.amount.to_f == 0 && @str_get_ref_id.track.to_i < 2 %>	
			  <td><font face="Arial"> Recommit</font></td>	
			  <td><%= link_to image_tag("dissapproved_icon.png"), undecline_orders_path(:id => params[:id]) %> </td>
			 <% end %>
			 <td><font face="Arial"> Return</font></td>	
			 <td><%= link_to image_tag("backward_icon.png"), orders_path %></td>
			</tr>
		</table>
       <% end %>