<h1>Purchase Order Detail Lines</h1>
<table>
    <tr>
	  <th bgcolor="#A9F5F2">Vendor</th>
	 </tr> 
	 <tbody>
		 <td colspan = "4"><%= @str_get_ref_id.vendor_name %></td>
	 </tbody>	 
</table>
	
<table>
    <tr>
	  <th bgcolor="#A9F5F2">Address</th>
	  <th bgcolor="#A9F5F2">City</th>
	  <th bgcolor="#A9F5F2">Phone</th>
	  <th bgcolor="#A9F5F2">Contact</th>
	 </tr> 
	 <tbody>
		 <td><%= @str_get_ref_id.address %></td>
		 <td><%= @str_get_ref_id.city %></td>
		 <td></td>
		 <td></td>
	 </tbody>	 
</table>

<table>
    <tr>
	  <th bgcolor="#A9F5F2">Payment Terms</th>
	  <th bgcolor="#A9F5F2">Date Required</th>
	  <th bgcolor="#A9F5F2">Date Promised</th>
	 </tr> 
	 <tbody>
		 <td><%= @str_get_ref_id.terms %></td>
		 <td><%= @str_get_ref_id.date_due %></td>
		 <td><%= @str_get_ref_id.expected_date %></td>
	 </tbody>	 
</table>

<table>
    <tr>
	  <th bgcolor="#A9F5F2">Buyer</th>
	 </tr> 
	 <tbody>
		 <td colspan = "4"><%= @str_get_ref_id.custom_field_authorized_buyer %></td>
	 </tbody>	 
</table>
<br />

<table>
    <tr>
	  <th bgcolor="#A9F5F2">Memo</th>
 	  <th bgcolor="#A9F5F2">Vendor Msg</th>
	  <th bgcolor="#A9F5F2">Decline Reason</th>
 	 </tr>
	 <tbody>
		 <td><%= text_area_tag :message_memo,@str_get_ref_id.memo, :size =>"25x10" %></td>
 		 <td><%= text_area_tag :message_memo,@str_get_ref_id.user_comments, :size =>"25x10" %></td>
		 <td><%= text_area_tag :message_body,@str_get_ref_id.decliner_comments, :size =>"25x10" %></td>
 	 </tbody>
<table>	

<br />
	 
<table>
  <thead>
    <tr>
	  <th bgcolor="#A9F5F2">Customer</th>	
      <th bgcolor="#A9F5F2">Description</th>
	  <th bgcolor="#A9F5F2">Lead Time</th>
	  <th bgcolor="#A9F5F2">Product</th>
	  <th bgcolor="#A9F5F2">Assemblies</th>
	  <th bgcolor="#A9F5F2">KanBan</th>
      <th bgcolor="#A9F5F2">Order Qty</th>
      <th bgcolor="#A9F5F2">Line amount</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orderln.each do |order| %>
      <tr class="<%= cycle("even", "odd") %>">
		<td><%= order.customer_name %></td>  
        <td><%= order.ord_line_desc %></td>
		<td><%= order.lead_time %></td>
		<td><%= order.product %></td>
		<td><%= order.project_id %></td>
		<td><%= order.kanban %></td>
        <td><%= order.ord_line_qty %></td>
        <td><%= order.ord_line_amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<table>
	<tr>
	 <%if @current_user.amount.to_f > 0 %>	
	 <td> Approve</td>	
	 <td><%= link_to image_tag("approved_icon.png"), edit_order_path(params[:id]) %></td>

	 <td> Decline</td>	
	 <!-- <td><%#= link_to image_tag("dissapproved_icon.png"), decline_orders_path(:id => params[:id]) %> </td> -->
	 <td><%= link_to image_tag("dissapproved_icon.png"), decline_orders_path(:id => params[:id]) %> </td>
     <% end %>
	 <td> Back</td>	
	 <td><%= link_to image_tag("backward_icon.png"), orders_path %></td>
	</tr>
</table>	
