
<h1>Listing orders</h1>
    <%= link_to 'Logout', log_out_path %>
	<%= link_to 'Approved', approved_orders_path %>
	<%= link_to 'Received', received_orders_path %>
	<%= link_to 'Declined', decline_rpt_orders_path %>
	<%= link_to 'Buyer', buyers_path %>	
    <div id="notice"><%= flash[:notice] %></div>
	
	<tr>
	 <%#= form_tag import_orders_path, multipart: true do %>
	   <%#= file_field_tag :file %>
	   <p> <%#= text_field_tag "subject" %></p>
	   <%#= submit_tag "Import CSV" %>
	 <%# end %>	
	</tr>
	
	<p>
	  <!-- Download: -->
	  <%#= link_to "CSV", orders_path(format: "csv") %> 
	</p> 

<table>
  <thead>
    <tr>
      <th bgcolor="#A9F5F2">Ref number</th>
      <th bgcolor="#A9F5F2">Vendor Name</th>
	  <th bgcolor="#A9F5F2">Total amount</th>
	  <th bgcolor="#A9F5F2">Date Submitted</th>
	  <th bgcolor="#A9F5F2">Expected Date</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr class="<%= cycle("even", "odd") %>">
        <td><%= order.ref_number %></td>
        <td><%= link_to order.vendor_name, details_orders_path(:id => order) if order.total_amount.to_f <= @current_user.amount.to_f  %></td>
		<td><%= order.total_amount %></td>
		<td><%= order.time_created %></td>
		<td><%= order.expected_date %></td>
        <!-- <td><%#= order.custom_field_authorized_buyer %></td> -->
		<td><%=link_to image_tag("thumbs_up.png"), edit_order_path(order), :confirm => 'Approve - Are you sure? ' if order.total_amount.to_f <= @current_user.amount.to_f%></td>
				<td><%=link_to image_tag("thumbs_down.png"), decline_orders_path(:id => order), :confirm => 'Decline -  Are you sure?' if order.total_amount.to_f <= @current_user.amount.to_f%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%#= link_to 'New Order', new_order_path %>
