

      <div id="contentmid">
        <div class="midheading">
          <h2>Purchase Orders</h2>
        </div>
		<table style="width:1000px; height:auto;">
		  <thead style="width:1000px; height:20%;">
		    <tr style="height:auto !important; font-size:12px; line-height:17px;" >
		      <th style="margin:2px; width:auto;" cellspacing="2" bgcolor="#000000"><font face="Arial" color="#FFFFFF">PO</font></th>
			  <th style="margin:2px; width:15%;" cellspacing="2" bgcolor="#000000"><font face="Arial" color="#FFFFFF">PROJECT</font></th>
		      <th style="margin:2px; width:auto;" cellspacing="2" bgcolor="#000000"><font face="Arial" color="#FFFFFF">VENDOR</font></th>
			  <th style="margin:2px; width:auto;" cellspacing="2" bgcolor="#000000"><font face="Arial" color="#FFFFFF">CUSTOMER</font></th>
			  <th style="margin:2px; width:auto;" cellspacing="2" bgcolor="#000000"><font face="Arial" color="#FFFFFF">TOTAL</font></th>
			  <th style="margin:2px; width:auto;" cellspacing="2" bgcolor="#000000"><font face="Arial" color="#FFFFFF">EXPECTED</font></th>
			  <th style="margin:2px; width:auto;" cellspacing="2" bgcolor="#000000"><font face="Arial" color="#FFFFFF">APPROVED</font></th>
			  <th style="margin:2px; width:auto;" cellspacing="2" bgcolor="#000000"><font face="Arial" color="#FFFFFF">STATUS</font></th>
			  <th style="margin:2px; width:auto;" cellspacing="0" bgcolor="#FFFFFF"><font face="Arial" color="#FFFFFF"></font></th>
			  <th style="margin:2px; width:auto;" cellspacing="0" bgcolor="#FFFFFF"><font face="Arial" color="#FFFFFF"></font></th>
		    </tr>
		  </thead>

		  <tbody style="width:1000px; height:80%;">
		    <% @orders.each do |order| %>
		      <tr style="font:Arial; font-size:9px" class="<%= cycle("even", "odd") %>">
		        <td><%= order.ref_number %></td>
				<td><%= order.project_name %></td>
		        <td><%= link_to order.vendor_name, details_orders_path(:id => order)  %></td>
				<td><%= order.customer_name %></td>
				<td>$<%= order.total_amount %></td>
				<td><%= order.expected_date %></td>
				<td><%= order.track %></td>
				<td><%= order.po_status %></td>
				<td><%= link_to image_tag("thumbs_up_icon.png"), edit_order_path(order), :confirm => 'Approve - Are you sure? ' if order.total_amount.to_f <= @current_user.amount.to_f && @current_user.first_check.to_i == 1 || order.sub_approval.to_i == 1 && @current_user.amount.to_f > 0 %></td>
						<td><%=link_to image_tag("thumbs_down_icon.png"), decline_orders_path(:id => order), :confirm => 'Decline -  Are you sure?' if order.total_amount.to_f <= @current_user.amount.to_f && @current_user.first_check.to_i == 1 || order.sub_approval.to_i == 1 && @current_user.amount.to_f > 0 %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
 
