<h1>Listing orders</h1>
    <%= link_to 'Logout', log_out_path %>
	<%= link_to 'Approved', approved_orders_path %>
	<%= link_to 'Received', received_orders_path %>
	<%= link_to 'Decline', decline_rpt_orders_path %>
		
    <div id="notice"><%= flash[:notice] %></div>
	
	<tr>
	 <%#= form_tag import_orders_path, multipart: true do %>
	   <%#= file_field_tag :file %>
	   <p> <%#= text_field_tag "subject" %></p>
	   <%#= submit_tag "Import CSV" %>
	 <%# end %>	
	</tr>
	
	<p>
	  <!-- Download: -->
	  <%#= link_to "CSV", orders_path(format: "csv") %> 
	</p> 

<table>
  <thead>
    <tr>
      <th>Ref number</th>
      <th>Customer Name</th>
      <th>Total amount</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr class="<%= cycle("even", "odd") %>">
        <td><%= order.ref_number %></td>
        <td><%= order.customer_name %></td>
        <td><%= order.total_amount %></td>
        <!-- <td><%#= order.custom_field_authorized_buyer %></td> -->
        <td><%= link_to 'Approved', edit_order_path(order) if order.total_amount.to_f <= @current_user.amount.to_f %></td>
		<td><%= link_to 'Details', details_orders_path(:id => order) if order.total_amount.to_f <= @current_user.amount.to_f %></td>
        <td><%= link_to 'Decline', decline_orders_path(:id => order) if order.total_amount.to_f <= @current_user.amount.to_f %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Order', new_order_path %>
