<h1>Received Orders</h1>


<table>
  <thead>
    <tr>
      <th bgcolor="#A9F5F2">Ref number</th>
      <th bgcolor="#A9F5F2">Duedate</th>
      <th bgcolor="#A9F5F2">Expected</th>
      <th bgcolor="#A9F5F2">Total amount</th>
      <th bgcolor="#A9F5F2">Buyer</th>
      <th bgcolor="#A9F5F2">Received Date</th>
      <th bgcolor="#A9F5F2">Received By</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr class="<%= cycle("even", "odd") %>">
        <td><%= order.ref_number %></td>
        <td><%= order.duedate %></td>
        <td><%= order.expected_date %></td>
        <td><%= order.total_amount %></td>
        <td><%= order.custom_field_authorized_buyer %></td>
		<td><%= order.receive_date %></td>
		<td><%= order.receive_by %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Back', orders_path %>