
      <div id="contentmid">
        <div class="midheading">
          <h2>Received Orders</h2>
        </div>
		
		<table style="width:1000px; height:auto;">
		  <thead style="width:1000px; height:20%;">
		    <tr style="height:auto !important; font-size:12px; line-height:17px;" >
		      <th style="margin:2px; width:auto;" cellspacing="2" bgcolor="#000000"><font face="Arial" color="#FFFFFF">PO</font></th>
			  <th style="margin:2px; width:15%;" cellspacing="2" bgcolor="#000000"><font face="Arial" color="#FFFFFF">DUE</font></th>
		      <th style="margin:2px; width:auto;" cellspacing="2" bgcolor="#000000"><font face="Arial" color="#FFFFFF">EXPECTED</font></th>
			  <th style="margin:2px; width:auto;" cellspacing="2" bgcolor="#000000"><font face="Arial" color="#FFFFFF">TOTAL</font></th>
			  <th style="margin:2px; width:auto;" cellspacing="2" bgcolor="#000000"><font face="Arial" color="#FFFFFF">BUYER</font></th>
			  <th style="margin:2px; width:auto;" cellspacing="2" bgcolor="#000000"><font face="Arial" color="#FFFFFF">REC DATE</font></th>
			  <th style="margin:2px; width:auto;" cellspacing="2" bgcolor="#000000"><font face="Arial" color="#FFFFFF">REC BY</font></th>
		    </tr>
		  </thead>
		  

  <tbody style="width:1000px; height:80%;">
    <% @orders.each do |order| %>
      <tr style="font:Arial; font-size:9px" class="<%= cycle("even", "odd") %>">
        <td><%= order.ref_number %></td>
        <td><%= order.date_due %></td>
        <td><%= order.expected_date %></td>
        <td>$<%= order.total_amount %></td>
        <td><%= order.custom_field_authorized_buyer %></td>
		<td><%= order.receive_date %></td>
		<td><%= order.receive_by %></td>
      </tr>
    <% end %>
  </tbody>
		</table>
		<br />
		<table>
			<tr style="font-size:12px" >
			 <td> Return</td>	
			 <td><%= link_to image_tag("backward_icon.png"), orders_path %></td>
			</tr>
		</table>

