
      <div id="contentmid">
        <div class="midheading">
          <h2>Purchase Orders</h2>
        </div>

		<table>
			<tr>
			 <%= form_tag orders_path, :method => 'get' do %>
			   <p style="font-size:11px"> 
			     Search By :
		 	   	<%= select  :item, :itemx , ["PO Number", "Project", "Vendor Name","Customer" ] %>
				 <%= text_field_tag :search, params[:search] %>
			     <%= submit_tag "Search", :name => nil %>
			   </p>
			 <% end %>	
			</tr>
		</table>
		
		<br />
		<table>
			<tr style="font-size:12px" >
			 <td> Return </td>	
			 <td><%= link_to image_tag("backward_icon.png"), orders_path %></td>
			</tr>
		</table>

		