<p id="notice"><%= notice %></p>

<p>
  <strong>Ref number:</strong>
  <%= @order.ref_number %>
</p>

<p>
  <strong>Duedate:</strong>
  <%= @order.duedate %>
</p>

<p>
  <strong>Expected:</strong>
  <%= @order.expected_drive %>
</p>

<p>
  <strong>Total amount:</strong>
  <%= @order.total_amount %>
</p>

<p>
  <strong>closed:</strong>
  <%= @order.is_manually_closed %>
</p>

<p>
  <strong>received:</strong>
  <%= @order.is_fully_received %>
</p>

<p>
  <strong>authorized buyer:</strong>
  <%= @order.custom_field_authorized_buyer %>
</p>

<p>
  <strong>Approved By:</strong>
  <%= @current_user.first_name + " " + @current_user.last_name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @current_user.title %>
</p>

<%#= link_to 'Approve', corder_orders_path(@order) %>
<%#= link_to 'Edit', edit_order_path(@order) %> 
<%= link_to 'Back', orders_path %>
