<h1>Buyers Phone List</h1>

<table>
  <thead>
    <tr>
	 <th bgcolor="#A9F5F2">Name</th>	
      <th bgcolor="#A9F5F2">Phone</th>
      <th bgcolor="#A9F5F2">Cell</th>
      <th bgcolor="#A9F5F2">Office</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @buyers.each do |buyer| %>
       <tr class="<%= cycle("even", "odd") %>">
		<td><%= buyer.name %></td>  
        <td><%= buyer.phone %></td>
        <td><%= buyer.cell %></td>
        <td><%= buyer.office %></td>
        <td><%= link_to 'Edit', edit_buyer_path(buyer) %></td>
        <td><%= link_to 'Delete', buyer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<table>
	<tr>
	 <td> Back</td>	
	 <td><%= link_to image_tag("backward_icon.png"), orders_path %></td>
	</tr>
</table>	
